{% extends "shop/base.html" %}
{% block title %}Корзина{% endblock %}
{% block content %}
<h1>Ваша корзина</h1>
<table>
    <thead><tr>
        <th>Товар</th><th>Кол-во</th><th>Цена</th><th>Всего</th><th>Действия</th>
    </tr></thead>
    <tbody>
    {% for item in cart %}
        <tr>
            <td><a href="{{ item.product.get_absolute_url }}">{{ item.product.name }}</a></td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.total_price }}</td>
            <td><a href="{% url 'cart:cart_remove' item.product.id %}">Удалить</a></td>
        </tr>
    {% endfor %}
        <tr>
            <td colspan="3" align="right"><strong>Итого:</strong></td>
            <td><strong>{{ cart.get_total_price }}</strong></td>
            <td></td>
        </tr>
    </tbody>
</table>
<div class="detail-buttons">
    <a href="{% url 'checkout' %}" class="btn">Перейти к оформлению заказа</a>
    <p class="detail-p"><a href="{% url 'shop:product_list' %}">Продолжить покупки</a></p>
</div>
{% endblock %}
